body{
    text-align:center;
    background-color:#00838F;
    }
    #heading{
    color:#FFEBEE;
    word-spacing:10px;
    font-size:80px;
    font-variant:small-caps;
    }
    #album{
    border-style:solid;
    border-color:#33691E;
    padding:5px;
    border-radius:80px;
    background-color:#80D8FF;
    }
    #heading2{
    font-size:20px;
    color:#FFEBEE;
    }
    